rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents in app_state for client/server database sync
    match /app_state/{key} {
      allow read, write: if true;
    }
  }
}

